// Variables //

$font-header: 'Oswald', sans-serif;

$font-text: 'Rajdhani', sans-serif;

h1, h2, h3 a {
    font-family: $font-header;
}

li, p {
    font-family: $font-text;
}

// Global //

body {
    display:block;
    margin: 0;
    text-align: center;
    font-size: 16px;
    line-height: 1.7;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

section {
    padding: 108px;
}

// Splash //

.splash {
    height: 100vh;
    position: relative;
    background-image: url('https://images.pexels.com/photos/8346914/pexels-photo-8346914.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-position: center center;
    background-size: cover;
}

.splash-inner {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.splash h1 {
    font-size: 70px;
    margin: 48px 0 0 0;
    position: relative;
    color:#ffffff;
    font-weight: 900;
    padding-bottom: 40px;
}

.splash h2 {
    font-size: 50px;
    margin: 48px 0 0 0;
    color:#ffffff;
    font-family: cursive;
}

.splash h3 {
    color:goldenrod;
    font-family: cursive;
}

.splash li {
    display: inline-block;
    padding-right: 50px;
}

.splash a {
    text-decoration: none;
    color: #ffffff; 
}

.splash-inner a {
    background:goldenrod;
}

.splash .row div {
padding-top: 50px;
}